.button {
    padding:.6rem 1.6rem;
    background-color: var(--clr-base-text);
    border-radius: 24px;
    color: var(--clr-base);
    fill: var(--clr-base);
    white-space: nowrap;
    font-weight:600;
    font-variation-settings: "wght" 600;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width:fit-content;
}

.outline {
    fill: var(--clr-grey-dark);
    background-color: transparent;
    border:2px solid var(--clr-grey-light);
    color: var(--clr-grey-dark);
    box-shadow: none;
}

.variant {
    fill: white;
    background-color:#382BF0;
    border:1px solid #382BF0;
    color: white;
    box-shadow: none;
}