.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 1.25rem;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

nav.hidden {
    display: none;
}
  
nav.visible {
    display: flex;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
}

nav.sticky {
    transform: translateY(0);
}
  
.navbar-content {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    background-color: var(--clr-base);
    backdrop-filter: blur(10px);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--clr-base-accent);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 768px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .navbar-content {
        padding: 0.5rem 1rem;
        width: auto;
    }
}
